/*Search Bar*/
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; 
    border-bottom: 2px solid grey;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px; 
}

.logo-wrapper {
    width: 32%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-content: center;
    /* border-right: 2px solid #000; */
}

.insta-logo-wrapper {
    width: 50px;
    border-right: 2px solid #000;
}

.insta-logo {
    font-size: 4rem;
    padding-right: 30px;
}

.insta-writing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 0;
}

.insta-writing > img {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    margin-left: 0;
}

.search-wrapper {
    width: 32%;
}

.search-bar { 
    height: 25px;
    width: 200px;
    background-color: #fafafa; 
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
}

.nav-icons {
    width: 32%;
    display: flex;
    justify-content: flex-end;
}

.nav-logo {
    font-size: 3.5rem;
    margin-right: 30px;
    cursor: pointer;
}