.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border: 3px solid #dd2a7b;
    border-radius: 5px;
    margin: 50px auto 0;
}

.username-wrapper,
.password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

label {
    margin-bottom: 5px;
    color: #dd2a7b;
}

.login-username,
.login-password {
    width: 200px;
    height: 25px;
    border: 3px solid #dd2a7b;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 0 5px;
    text-align: center;
}

.login-username:invalid,
.login-password:invalid {
    outline-color: #f00;
}

.login-username:valid,
.login-password:valid {
    outline-color: #0f0;
}

button:hover {
    border: 3px solid #dd2a7b;
    border-radius: 5px;
    background-color: #515bd4;
    color: #dd2a7b;
}

